<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872151276609-v0ik0cv28krouefh20s73bvf8okkndeq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872151276609-v0ik0cv28krouefh20s73bvf8okkndeq</string>
	<key>API_KEY</key>
	<string>AIzaSyBpx6fWaGf_w2mjhhUvDTQT8IQ7JZyQrTk</string>
	<key>GCM_SENDER_ID</key>
	<string>872151276609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.net.bengkelrobot.flutterMuzikAppTutorial</string>
	<key>PROJECT_ID</key>
	<string>flutter-muzik-app-tutorial</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-muzik-app-tutorial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872151276609:ios:ec00f8199eb750a0637ac0</string>
</dict>
</plist>